<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--DB接続設定-->
		<add key="DB_DATA_SOURCE" value="DESKTOP-537QDFI\SQLEXPRESS"/>
		<add key="DB_INITIAL_CATALOG" value="MHM-WMS-DB"/>
		<add key="DB_USER_ID" value="sa"/>
		<add key="DB_PASSWORD" value="oresama"/>
		<!--集配信監視間隔（秒）-->
		<add key="HULFT集配信監視間隔" value="1"/>
		<add key="原料自動投入開始監視間隔" value="1"/>
		<add key="原料自動投入実績監視間隔" value="1"/>
		<!--HULFT要求パス-->
		<add key="REQUEST_PASS" value="C:\CMSIF\HULFT\Request" />
		<!--HULFTフォルダパス-->
		<add key="集信フォルダ" value="C:\CMSIF\HULFT\Recv\"/>
		<add key="配信フォルダ" value="C:\CMSIF\HULFT\Send\"/>
		<add key="保存フォルダ_MTLD010" value="C:\CMSIF\HULFT\Backup\パレット入庫指示\"/>
		<add key="保存フォルダ_MTLD030" value="C:\CMSIF\HULFT\Backup\原料在庫情報\"/>
		<add key="保存フォルダ_MTLD040" value="C:\CMSIF\HULFT\Backup\原料自動投入指図\"/>
		<add key="保存フォルダ_MTLD050" value="C:\CMSIF\HULFT\Backup\パレット出庫指図\"/>
		<add key="保存フォルダ_MTLU010" value="C:\CMSIF\HULFT\Backup\原料自動投入開始\"/>
		<add key="保存フォルダ_MTLU020" value="C:\CMSIF\HULFT\Backup\原料自動投入実績\"/>
		<!--HULFTファイルID-->
		<add key="HULFTID_パレット入庫指示" value="MTLD010" />
		<add key="HULFTID_原料在庫情報" value="MTLD030" />
		<add key="HULFTID_原料自動投入指図" value="MTLD040" />
		<add key="HULFTID_パレット出庫指図" value="MTLD050" />
		<add key="HULFTID_原料自動投入開始" value="MTLU010" />
		<add key="HULFTID_原料自動投入実績" value="MTLU020" />
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>